{% extends 'base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block content_title %}
    My first Flask web development
{% endblock %}


{% block content %}
    <ul>
        <h3> In this project implemented:</h3>
        <li> web site creation on the Flask framework </li>
        <li> used pattern MVC or MVT </li>
        <li> template inheritance</li>
        <li> connected database</li>
        <li> used SQLAlchemy</li>
        <li> migration between posts and tags is configured</li>
        <li> authorization form implemented</li>
        <li> search form </li>
        <li> implement admin panel with settings</li>
        <li> page 404</li>
    </ul>
{% endblock %}

